@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  
  --color-gold: #f59e0b;
  --color-gold-dark: #d97706;
}

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}

@layer utilities {
  .bg-gold-gradient {
    background: linear-gradient(135deg, #f59e0b 0%, #d97706 100%);
  }
}
